/* Styles for Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

/* Styles for Navigation Bar */
nav {
  background-color: #333;
  color: #fff;
  border-radius: 10px; /* Adds rounded corners to the navigation bar */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* Styles for Main Content */
h1 {
  font-size: 36px;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
}
